#cabe{
    display: inline;
}
#TITULO{
    color: brown;
}
#navbar{
    display: inline;
    padding: 8px;
    background-color: aquamarine;
}
#icono{
    height: 60px;
    width: 40px;
}
li{
    display: inline;
}